* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inika";
  src: url("./fonts/Inika-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Inika-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inika";
  src: url("./fonts/Inika-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
 background-color: #F7F7F7;
}

header {
  background: url("./images/banner-500x.png")lightgray 50% / cover no-repeat;
  display: flex;
  height: 500px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.12rem;
}

.container__h1 {
  margin-top: 520px;
  margin-bottom: 1.87rem;
}

h1 {
  font-size: 2.8rem;
  text-align: center;
  font-family: 'Inika', serif;

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

h2 {
  font-family: 'Inika', serif;
  font-size: 30px;
  color: #1E1E1E;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  margin: 100px;
  padding: 50px;
  background-color: #ffffff;
  border-radius: 30px 30px 0px 0px;
}

.container__section, .ordenacao {
  font-size: 26px;
  color: #1E1E1E;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

select{
  font-size: 20px;
  color: #1E1E1E;
  border: solid #0f2a28 1px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: transparent;
}

select:focus {
  outline: none;
}

button {
  background-color: #252525;
  color: #ffffff;
  padding: 11px 20px;
  border: none;
  border-radius: 5px;
}

button:hover{

}

main {
  padding: 2.5rem;
  background-color: #ffffff;
  border-radius: 1.25rem 1.25rem 0px 0px;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column; /* Adicionado para garantir que os itens estejam em coluna */
}

/* ESTILIZAÇÃO FILTROS */
label {
  font-size: 28px;
  color: #252525;
}
.filtros {
  display: flex;
  flex-direction: column;
}

.section-filters input {
  width: 31.25rem;
  height: 3.12rem;
  border: 2px solid #252525;
  border-radius: 5px;
  padding-left: 0.62rem;
  font-size: 16px;
  color: #6a738d;
}

.section-filters,
.section-filters {
  display: flex;
  text-align: right;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

select#filters,
select#order {
  font-size: 1.25rem;
  color: #252525;
  padding: 5px;
  border: none;
  margin: 0.62rem;
  border: solid 1px #252525;
  background: transparent;
  border-radius: 5px;
}
/* .section-filters .section-filters select:focus {
  outline: none;
} */
.section-filters .section-filters select::-ms-expand,
.section-filters,
.section-filters select::-ms-expand {
  width: 15px;
}

#btn-limpar {
  /* background-color: var(--green-500); */
  font-size: 15px;
  font-weight: normal;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.62rem 1.25rem;
  cursor: pointer;
}

main > h2 {
  font-size: 1.25rem;
  text-align: center;
  color: #252525;
  margin-bottom: 3.12rem;
  padding: 1.25rem;
}

/* Estilização dos Cards */
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  justify-content: space-between;
}

li {
  max-width: 20.62rem;
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.56);
  border-radius: 8px 8px 0px 0px;
}

li:last-child {
  margin-right: 0;
}

.link__card {
  text-decoration: none;
}

dd {
  margin-left: 0;
  padding: 20px
}

dl {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 30.9rem;
  margin-top: 0.62rem;

}

.container__card {
  display: flex;
  border: none;
  border-radius: 5px;
  flex-wrap: wrap;
  justify-content: center;
}

.content__card {
  margin: 0 auto;
}

.image__card {
  margin-top: -0.62rem;
  border-radius: 8px 8px 0px 0px;
  width: 100%;

}

.name__card {
  font-weight:500;
  font-family: 'Inter', serif;
  color: #766F6B;
  font-size: 1rem;
  text-align: left;
  /* padding: 0.2rem; */
}


.description__card, .intensidadeCoffe {
  font-weight:500;
  font-family: 'Inter', serif;
  color: #0F2A28;
  font-size: 12px;
  text-align: left;
  /* padding: 0.2rem; */
}


@media only screen and (max-width: 768px) {
  h1{
    font-size: 2rem;
  }
  main h2 {
    padding: 0px;
    text-align: justify;
    margin-bottom: 25px;
  }
  .section-filters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: stretch
  }
  label{
    font-size: 20px;
    text-align: left;
    margin-top: 10px
  }
  select#filters{
    margin: 0px;
    width: 100%;
  }
  select#order{
    margin: 0px;
    width: 100%;
  }
  .container__card {
    margin-right: 0px;
  }

  #order {
    margin: 10px;
  }
  button#btn-limpar{
    font-size: 20px;
    margin-top: 20px;
  }
}

/* Footer styles */
footer {
  background-color: #252528;
  color: #fff;
  padding: 3.12rem 0;
  /* position: fixed; */
  text-align: center;
}
footer p {
  font-size: 1.25rem;
  color: #ffffff;
  padding-top: 1.25rem;
}

.container__footer {
  max-width: 50rem;
  margin: 0 auto;
}

.socialIcons a {
  color: #fff;
  margin-right: 0.62rem;
  text-decoration: none;
}

footer i {
  font-size: 1.8rem;
}
